<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#fetch-formats').click(function(e) {
                e.preventDefault();
                var url = $('#url').val();
                $.ajax({
                    url: '/formats',
                    method: 'POST',
                    data: {
                        url: url
                    },
                    success: function(data) {
                        var formats = data.formats;
                        $('#formats-list').empty();
                        $.each(formats, function(i, format) {
                            var option = $('<option>').attr('value', format.itag).text(format.resolution + ' (' + format.mime_type + ')');
                            $('#formats-list').append(option);
                        });
                        $('#download').attr('disabled', false);
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            });
            $('#download').click(function(e) {
                e.preventDefault();
                var url = $('#url').val();
                var format = $('#formats-list').val();
                var downloadUrl = '/download?url=' + encodeURIComponent(url) + '&format=' + encodeURIComponent(format);
                window.location.href = downloadUrl;
            });
        });
    </script>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form>
        <label for="url">Video URL:</label>
        <input type="text" id="url" name="url"><br>
        <button id="fetch-formats">Fetch Formats</button>
        <br>
        <label for="formats-list">Select Format:</label>
        <select id="formats-list" name="format"></select>
        <button id="download" disabled>Download</button>
    </form>
</body>
</html>
